[user]
	name = synthpop123
	email = <hide>
	signingkey = BD5BA2202B8F71F2

[core]
    pager = delta
	excludesfile = .gitignore_global

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections

    # delta detects terminal colors automatically; set one of these to disable auto-detection
    # dark = true
    # light = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[commit]
	gpgsign = true
